@import "../../../Scss/variables.scss";

.navbar-wrapper {
}

.first-row {
  padding: 0.5% 3%;
  background-color: $mainColorElements;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2vw;
  @media screen and(max-width: 450px) {
    padding: 1%;
    height: 6vh;
  }

  .search-bar {
    display: flex;
    flex: 1;
  }

  .branding-img {
    max-width: 75px;
    cursor: pointer;

    @media screen and(max-width: 450px) {
      display: none;
    }
  }

  .option-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1vw;

    a {
      text-decoration: none;
      color: white;
    }

    @media screen and(max-width: 450px) {
      display: none;
    }
  }
  .mobile-nav-button {
    display: none;
    align-items: center;
    justify-content: center;
    color: white;

    padding: 1%;

    @media screen and(max-width: 450px) {
      display: flex;
    }
  }
}

.categories-row {
  background-color: $mainColorElements;
  width: 100%;
  overflow-x: scroll;
  .scroll-content {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
    min-width: 700px;
    @media screen and(max-width: 450px) {
      padding: 1vh 0;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.navpanel-wrapper {
  display: none;
  font-size: 1.2rem;

  .nav-panel-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-logo-panel {
      display: inline-block;
      width: 70px;
    }
  }

  .panel-links {
    padding: 2vh 2vh;
    list-style-type: none;
    color: white;
    a {
      text-decoration: none;
      color: white;
    }
  }

  @media screen and(max-width: 450px) {
    display: block;
    width: 70%;
    height: 100vh;
    padding: 2vw;
    top: 0;
    color: white;
    position: absolute;
    background-color: $mainColorElements;
    z-index: 99;
    transition: transform 0.2s ease-in-out;
    &.close {
      transform: translateX(-100%);
    }
  }
}
