.form-image {
  width: 100%;
  max-height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  column-gap: 1vw;
  padding: 1vw;

  .image-container {
    flex: 1;
    max-width: 250px;
  }
}

.category-wrapper {
  display: flex;
  padding: 0.5vw 0;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1vw;
  box-sizing: border-box;
  margin: 0;
}

.category-item {
  background: black;
  color: white;
  padding: 0.2vw 0.5vw;
  height: auto;
  border-radius: 5px;
  p {
    margin: 0;
  }
}
