@import "../../../Scss/mixins.scss";

.hero-flex {
  display: flex;
  margin: 7% 0 4% 0;
  column-gap: 1%;
  row-gap: 3vh;
  @media screen and(max-width: 450px) {
    flex-direction: column;
  }
}

.hero-wrapper {
  background-color: white;
  padding: 0.5%;
  height: 60vh;
  width: 100%;
  overflow: hidden;
  @include flex-center;
}

.card {
  &.card-rec {
    border: none;
    padding: 0.3%;
  }

  .card-link {
    line-height: 115%;
  }
}
