@import "../../../Scss/mixins.scss";
@import "../../../Scss/variables.scss";

.footer-container {
  background-color: $mainColorElements;
  padding: 2vw 0 0 0;
  width: 100%;
  overflow: hidden;
  color: $quaternaryColor;
  a {
    color: $quaternaryColor;
  }
  p {
    padding: 0.5rem 0;
    text-align: center;
  }

  .col {
    @media screen and(max-width: 450px) {
      padding: 2vw 0;
      flex: none;
      width: 100%;
      padding: 1vh 2vw;
    }
  }
}
